{% extends "layout.html" %}
{% block head %}
  <title>天天玩飞机</title>
  <style>
    #world {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      overflow: hidden;
      background-image: linear-gradient(#e4e0ba, #f7d9aa);
    }
    .three {
      text-align: center;
      padding-top: 20px;
    }
    .info-board {
      display: inline-block;
      position: relative;
      z-index: 1;
      text-align: center;
      background: rgba(255, 255, 255, 0.5);
      padding: 10px 20px;
      border-radius: 8px;
      text-align: left;
    }
  </style>
{% endblock %}
{% block content %}
  <div id="app">
    <div class="three" v-title="'天天玩飞机'">
      <div class="info-board">
        <div class="point">
          得分：
          <span id="point"></span>
        </div>
        <div class="hp">
          生命：
          <span id="hp"></span>
        </div>
        <div class="remain-time">
          时间：
          <span id="remain-time"></span>
        </div>
      </div>
      <div id="world"></div>
    </div>
  </div>
  <script src="https://cdn.bootcss.com/three.js/r83/three.min.js"></script>
  <script src="https://cdn.bootcss.com/gsap/latest/TweenMax.min.js"></script>
  <script src="/public/static/js/aviator.js"></script>
  <script>
    const world = document.getElementById('world');
    init();
    this.start();
    on('end', () => {
      alert('你死了,点击屏幕继续');
      world.addEventListener('click', () => this.start(), false);
    });
    on('dead', () => {
      alert('你死了,点击屏幕继续');
      world.addEventListener('click', () => this.start(), false);
    });
  </script>
{% endblock %}