body, ul, dl, dd, p ,h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
a {
  color: #333;
}
.index .list {
  padding: 10px 40px;
}
.index .list li{
  margin: 10px 0;
}
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #000;
}
.footer a {
  color: #fff;
}